.recipe{
      display: inline-block;
      border-radius: 20px;
      background: white;
      position: relative;
      text-align: center;
      padding: 0 20px 30px 20px
    }
    .recipe img{
      width: 100px;
      margin: -30px auto 20px;
    }