.btn {
      margin-top: 30px;
      border-radius: 36px;
      border:0;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.8em;
      display: block;
      padding: 10px 16px;
      letter-spacing: 2px;
      cursor: pointer;
}

.primary {
      
      background-color: #FFF;
}

.yellow {
     
      background-color: #FEE996;
}

